#about {
    padding: 60px 20px;
    text-align: left;
    max-width: 1000px;
    margin: 60px auto;
    margin-bottom: 0px;
}

#about h2 {
    font-family: 'Space Mono', Arial;
    font-weight: bold;
    color:#0056b3;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-left: 0px;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-left: 30px;
}

/* Responsive Design - Mobile Layout */
@media (max-width: 768px) {
    #about {
        margin: 0 0;
    }

    #about p {
        font-size: 1rem;
        line-height: 1.8;
        margin-left: 10px;
    }
}