#projects {
    padding: 50px 20px;
    text-align: left;
    max-width: 1000px;
    margin: auto;
    margin-top: 0;
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: 0px;
    color:#0056b3;
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tab {
    margin: 0 10px;
    padding: 1px 20px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #0056b3;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tab.active {
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
}

/* Project Container */
.projects-container {
    display: none;
}

.projects-container.active {
    display: flex;
    animation: fadeIn 0.5s ease;
    max-height: 100vh;
    overflow-y: scroll;
    flex-direction: column; /* Ensures a vertical stack of cards */
    gap: 20px; /* Adds spacing between project cards */
    max-width: 1200px;
    margin: auto;
}

/* Project Cards */
.project-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 20px 20px;
    height: 250px;
    min-height: 250px;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Dark Mode for Project Cards */
.project-card.dark-mode {
    background: #2c2c2c;
}

.project-thumbnail {
    width: 250px;
    height: 200px;
    margin-right: 20px;
}

.project-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* This will space out the items */
    height: 100%;  /* Ensure it fills the container's height */
}

.project-info h4 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: left;
}

.project-info p {
    font-size: 1rem;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: left;
    flex-grow: 1;  /* Allow p to grow and take up available space */
}

.project-skills {
    font-size: 1rem;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}