/* Back Button Styling */
.back-button {
    display: flex;
    align-items: center;
    transform: translateX(-15px);
}

#back {
    background: none;
    border: none;
    cursor: pointer;
    left: 10px;
    top: 50%;
    display: flex;
    align-items: center;
}

#back img.back-icon {
    width: 35px;
    transition: transform 0.3s ease;
}

#back:hover img.back-icon {
    transform: scale(1.3);
    transition: transform 0.2s ease;
}

/* Individual Projects Subpage*/
#project-page {
    padding: 50px 20px;
    text-align: left;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
}

#project-page h2 {
    font-weight: bold;
    color:#0056b3;
    font-size: 2rem;
    margin-bottom: 0px;
    margin-left: 0px;
}

#project-page p {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Centered image and hover container */
.hover-container {
    position: relative;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center the container */
    align-items: center; /* Vertically center the content */
    width: 100%; /* Ensures container takes full width */
    margin: 20px auto; /* Centers the entire container */
    height: 100%;
    z-index: 10;
}

/* Styling for individual images */
.image-pe1-1 {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%; /* Ensures the image doesn't exceed the container width */
    max-width: 500px; /* Limits the image size */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Makes the image block-level to center properly */
}

/* Hover text styling */
.hover-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.7rem;
    text-align: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}

.hover-container:hover .hover-text {
    opacity: 1;
}

/* pdf files link */
.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 60px 0px;
}

.pdf-link {
    color: #0056b3;
    font-size: 1.3rem;
}


/* Responsive Design - Mobile Layout */
@media (max-width: 1100px) {
    .back-button {
        display: flex;
        align-items: center;
        transform: translateX(-10px);
    }
}