#song-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
}

#song-button div {
    text-align: center;
}

#playPauseButton {
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

html.dark-mode #playPauseButton {
    background-color:#34aefa;
}

#playPauseButton:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}